<span class="mat-subheading-2">Scramble: {{scramble}}</span>
<button md-icon-button (click)="startInspection()">
  <md-icon>timer</md-icon>
</button>
<!-- <button md-raised-button (click)="startInspection()">Start inspection</button> -->
<button md-raised-button (click)="start()">Start</button>
<button md-raised-button (click)="stop()">Stop</button>
<div class="mat-display-3">{{display}}</div>
<form (ngSubmit)="submitTime()">
  <md-select name="penatly" [(ngModel)]="penalty">
    <md-option value="OK">No penalty</md-option>
    <md-option value="+2">+2 penalty</md-option>
    <md-option value="DNF">DNF</md-option>
  </md-select>
  <button md-raised-button>Done</button>
</form>
