<div *ngIf="scramble && state === State.Scrambling">
  <span class="mat-subheading-2">Scramble: {{scramble}}</span>
  <button mat-icon-button (click)="startInspection()">
    <mat-icon>timer</mat-icon>
  </button>
</div>
<div class="mat-display-3">{{display}}</div>
<button mat-raised-button (click)="start()" *ngIf="state === State.Inspecting">Start</button>
<button mat-raised-button (click)="stop()" *ngIf="state === State.Solving && !time">Stop</button>
<form (ngSubmit)="submitTime()" *ngIf="time">
  <mat-select name="penatly" [(ngModel)]="penalty">
    <mat-option value="None">No penalty</mat-option>
    <mat-option value="+2">+2 penalty</mat-option>
    <mat-option value="DNF">DNF</mat-option>
  </mat-select>
  <button mat-raised-button>Done</button>
</form>
