<div class="mat-elevation-z5 solves-table-container">
  <mat-table [dataSource]="tableDataSource">
    <ng-container matColumnDef="solveNumber">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row; index as solveIndex">
        <span class="mat-hint">{{solveIndex + 1}}</span>
      </mat-cell>
    </ng-container>
    <ng-container [matColumnDef]="user._id" *ngFor="let user of users">
      <mat-header-cell *matHeaderCellDef>
        <div class="user">
          <img [src]="user.avatar.thumbUrl" class="user-avatar">
          <div class="averages">
            <div>Avg5: {{averagesByUser[user._id]?.ao5 | time}}</div>
            <div>Avg12: {{averagesByUser[user._id]?.ao12 | time}}</div>
          </div>
          <div class="name">{{user.name}}</div>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span [class.best-time]="row.bestTime === row[user._id]?.time">{{row[user._id] | solve}}</span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
