<mat-toolbar color="primary">

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="signOut()">Sign Out</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="auth.user">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span class="fill-space"></span>
  <h2>Real Time Cubing</h2>
  <span class="fill-space"></span>
  <button mat-raised-button color="accent" (click)="signInWithWCA()" *ngIf="!auth.user">
    Sign In With WCA
  </button>
  <ng-template [ngIf]="auth.user">
    <span class="name">{{auth.user.name}}</span>
    <img [src]="auth.user.avatar.thumbUrl" class="user-avatar">
  </ng-template>
</mat-toolbar>
