/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700|Material+Icons");
